extends layout

block content
  h1= title
  p Welcome to #{title}. My name is Bhargavreddy Singireddy
  - let results=[{House_name:"Singireddy Mansion",Location:"Ammakkapet",House_number:"59"},{House_name:"Baddam Mansion",Location:"Uploor",House_number:"45"},{House_name:"Laxmi Mansion",Location:"Nizambad",House_number:"34"}]
  div(class="container-fluid")
    div(class="row")
      each house, index in results
        div(class="col-sm-2" onclick=`buy(${index+1})`) #{house.House_name} - #{house.Location} - #{house.House_number}

  script.
    function buy(index){
      alert(`You purchased item ${index}`);
    }         

    let house = results;

    extends layout

block content
  h1= title
  - let items = results
   div(class = "container-fluid")
    div(class = "row m-1")
     each item in items  
      - let destination = `dispatch(\"/house/update?id=${item._id}\")`
      //- let destination1 = `dispatch(\"/Season/create\")`
      //- let destination2 = `dispatch(\"/Season/detail?id=${item._id}\")`
      //- let destination3 = `dispatch(\"/Season/delete?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") house_name: #{item. House_name}(#{item.Location}) is #{item.House_number}  
        button.btn( class="btn-primary ml-1", onclick= destination, style = "margin:8px;") Update
        //-button.btn( class="btn-primary ml-1", onclick= destination1, style = "margin:8px;" ) Create
        //-button.btn( class="btn-primary ml-1", onclick= destination2, style = "margin:8px;" ) Detail
        //-button.btn( class="btn-primary ml-1", onclick= destination3, style = "margin:8px;" ) Delete
  script.
    function buy(itemNo){
        alert(`You purchased item ${itemNo+1}`)
    }
  script. 
    function dispatch(path){ 
        window.location.href=path 
    } 
